<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.talend.core.component_installer_task">
      <componentInstallerTask
            class="org.talend.designer.maven.repo.tcompv0.Tcompv0Installer" order="1" ct="4" >
      </componentInstallerTask>
   </extension>

</plugin>
