<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
          point="org.eclipse.e4.ui.css.swt.theme">
       <theme
             basestylesheeturi="themes/default/css/default.css"
             id="org.talend.themes.css.talend.default"
             label="%theme.default">
             <!-- please see: TalendThemeConstants.TALEND_DEFAULT_THEME_ID -->
       </theme>
       <theme
	        basestylesheeturi="themes/dark/e4-dark_linux.css"
	        id="org.eclipse.e4.ui.css.theme.e4_dark"
	        label="%theme.dark"
	        os="linux">
	    </theme>
	    <theme
	        basestylesheeturi="themes/dark/e4-dark_win.css"
	        id="org.eclipse.e4.ui.css.theme.e4_dark"
	        label="%theme.dark"
	        os="win32">
	    </theme>
	    <theme
	        basestylesheeturi="themes/dark/e4-dark_mac.css"
	        id="org.eclipse.e4.ui.css.theme.e4_dark"
	        label="%theme.dark"
	        os="macosx">
	    </theme>
	    <theme
            basestylesheeturi="themes/dark/e4-dark_mac1013.css"
            id="org.eclipse.e4.ui.css.theme.e4_dark"
            label="%theme.dark"
            os="macosx"
            os_version="10.11,10.12,10.13">
        </theme>
        <stylesheet
            uri="themes/dark/dark/e4-dark_preferencestyle.css">
            <themeid
                refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
        </stylesheet>
    </extension>

</plugin>
